@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  background-image: url("./assets/bg-cocktail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Shantell Sans", cursive;
  text-align: center;
  overflow: scroll;
}
.cocktail {
  width: 90%;
  max-width: 900px;
  height: auto;
  min-height: 80vh;
  padding: 2rem;
  margin-bottom: 2rem;
  color: #1b1622;
  background-color: rgb(255, 193, 9);
  border: 5px solid #1b1622;
  border-radius: 8px;
}
.cocktail-name {
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.cocktail .flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 3em;
}
.flex-part {
  width: 100%;

  justify-content: space-around;
}
@media screen and (min-width: 900px) {
  .flex-part {
    flex: 1;
  }
}
.cocktail-img-box {
  position: relative;
  overflow: hidden;
  max-width: 700px;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #1b1622;
}
.cocktail-img {
  display: block;
  width: 100%;
  height: auto;
}
.cocktail-img-box .alco-type {
  position: absolute;
  top: 3em;
  left: -3.3em;
  width: 16em;
  padding: 0.5rem 2rem;
  color: white;
  border: 2px solid #1b1622;
  font-weight: bold;
  text-transform: uppercase;
  transform: rotate(-45deg);
}

.cocktail-img-box .alco-type.alcoholi {
  background-color: #b80a0a;
}
.cocktail-img-box .alco-type.non {
  background-color: #4ba6b6;
}
.cocktail-img-box .alco-type.optional {
  background-color: #dfaf50;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  list-style: none;
}

.ingredients-list li {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid #1b1622;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 2rem 100px 0.2rem 1rem;
  text-align: left;
}
.ingredients-list li img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  flex: 1;
  transition: all 0.5s;
}
.ingredients-list li:hover img {
  width: 170px;
}
.ingredient-amount {
  color: #026477;
  font-style: italic;
  flex: 1.5;
  font-size: 0.8rem;
}
.ingredient-name {
  flex: 3;
}
.cocktail h3 {
  width: fit-content;
  padding: 0.2rem 1rem;
  margin: auto;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.149);
  font-weight: normal;
}
p {
  margin-bottom: 1em;
}
.text-left {
  text-align: left;
}
button {
  padding: 1em;
  border: 3px solid #1b1622;
  background-color: #e2b04d;
  border-radius: 8px;
  font-family: inherit;
  outline: none;
  transition: all 0.2s;
}
button:hover,
button:focus {
  cursor: pointer;
  background-color: #4fa4b6;
}
footer {
  background-color: rgba(255, 255, 255, 0.87);
}
